body {
    background-color: #edf058;
}

h1 {
    color: rgb(118, 189, 236);
    background-color: rgb(248, 66, 66);
}

#show_sketch {
    float: right;
}

canvas {
    margin-top: 10px;
    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {
        box-shadow: 1px 1px 38px rgb(247, 50, 50);
    }

    to {
        box-shadow: 1px 1px 38px rgb(2, 1, 15);
    }
}

p {
    padding-top: 10px;
    font-size: 25px;
}

#clear_canvas {
    float: left;
}